.idea/
.vscode/
__pycache__/
VesselDetectionLib.egg-info/
YoloLib.egg-info/
dist/
build/
out/
model_storage/
newenv/
databricks_composed.py
test.py
LS-SSDD-v1.0-OPEN/
HRSID_jpg/
demonstrate_weakly_supervised_property/
run_real_experiments_synthetic/
tmp/
datasets/*
!datasets/README.md